configuration{
    modi: "run,window,combi";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-combi: " 🖥️  All ";
    display-run: " 🏃  Run ";
    display-window: " 🪟  Window";
    sidebar-mode: true;
    transparency: "real";
}
* {
    transparency: "real";  /* enable real transparency */
    background:     rgba(0, 0, 0, 0.3);  /* black with 30% opacity */
    border-color:   rgba(255, 255, 255, 0.5);  /* optional */
    text-color:     rgba(255, 255, 255, 1.0);  /* fully visible text */
}


@theme "catppuccin-mocha"
